#robot {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 13px;
    color: #333;
}
#robot * {
    margin: 0;
    padding: 0;
}
#robot .header {
    position: relative;
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #569de1;
}
#robot .input-area {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}
#robot .input-area .enter {
    display: block;
    position: absolute;
    z-index: 9;
    height: 20px;
    padding: 0 8px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    font-size: 12px;
    background-color: #569de1;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
#robot .input-area input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 48px 5px 15px;
    resize: none;
    border-radius: 15px;
    border: 0;
    outline: 0;
}
#robot .bubble-wrap {
    flex: 1;
    padding: 0 10px 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
#robot .bubble-wrap::-webkit-scrollbar {
  width: 6px;
}
/*定义滑块 内阴影+圆角*/
#robot .bubble-wrap::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ccc;
}
#robot .bubble {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#robot .bubble .content {
    position: relative;
    max-width: 80%;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    text-align: justify;
}
#robot .right .content {
    color: #fff;
    background-color: #569de1;
}
#robot .bubble .content::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
#robot .left .content::before {
    border-right: 5px solid #fff;
    left: -5px;
}
#robot .right .content::before {
    border-left: 5px solid #569de1;
    right: -5px;
}
#robot .left {
    align-items: flex-start;
}
#robot .right {
    align-items: flex-end;
}
#robot .quit-btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}
#robot .name {
    font-size: 12px;
}